* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: darkgray;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* row-gap: 5px; */
  gap: 5px;
  /* JUSTIFY-CONTENT -> ALINHAMENTO HORIZONTAL DOS ITENS -> QUANDO ESTÁ EM COLUNA INVERTE */
  justify-content: center;
  /* ALIGN-ITEMS -> ALINHAMENTO VERTICAL -> QUANDO ESTÁ EM COLUNA INVERTE  */
  align-items: center;
  /* FLEX-WRAP QUEBRAR ITENS AUTOMATICAMENTE */
  flex-wrap: wrap;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: white;
}
